#!/bin/sh
# The location of the user_data file to create
file='/provisioning_info.txt'

# Assign variables and put into file
pod="${pod}"
master_hostnames="${master_hostname}"
master_ips="${master_ip}"
worker_hostnames="${worker_hostname}"
worker_ips="${worker_ip}"
echo "[DEFAULT]" >> $file
echo "lab=$pod" >> $file
echo "master_hostnames=$master_hostnames" >> $file
echo "master_ips=$master_ips" >> $file
echo "worker_hostnames=$worker_hostnames" >> $file
echo "worker_ips=$worker_ips" >> $file

# Set our hostname
/usr/bin/hostnamectl set-hostname pod{$pod}-bastion

# SSH Key for connecting to other hosts
[ ! -d "/home/ec2-user/keys" ] && /usr/bin/mkdir /home/ec2-user/keys
/usr/bin/echo "${ssh_key}" >> /home/ec2-user/keys/ssh_key.pem
/usr/bin/chmod 600 /home/ec2-user/keys/ssh_key.pem
/usr/bin/chown ec2-user:ec2-user /home/ec2-user/keys/ssh_key.pem 

# Get our initial script 
[ ! -d "/home/ec2-user/scripts" ] && mkdir /home/ec2-user/scripts
/usr/bin/cd /home/ec2-user/scripts/
/usr/bin/wget -q https://raw.githubusercontent.com/sjbader/terraform_deploy_k8s_ec2/master/scripts/configure_system.sh


